<section class="text-center">
	<ul class="nav nav-pills center-pills">
		<li ng-class="{ active: panel.isSelected(1) }">
			<a href ng-click="panel.selectTab(1)">Description</a>
		</li>
		<li ng-class="{ active: panel.isSelected(2) }">
			<a href ng-click="panel.selectTab(2)">Specifications</a>
		</li>
		<li ng-class="{ active: panel.isSelected(3) }">
			<a href ng-click="panel.selectTab(3)">Reviews</a>
		</li>
	</ul>
</section>
<div class="panel" ng-show="panel.isSelected(1)">
	<h4>Description</h4>
	<blockquote>{{product.description}}</blockquote>
</div>
<div class="panel" ng-show="panel.isSelected(2)">
	<h4>Specifications</h4>
	<blockquote>None yet</blockquote>
</div>
<div class="panel" ng-show="panel.isSelected(3)">
	<h4>Reviews</h4>
	<blockquote ng-repeat="review in product.reviews">
		<b>Stars: {{review.stars}}</b>
		{{review.body}}
		<cite>by: {{review.author}}</cite>
	</blockquote>

	<form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
		<blockquote>
			<b>{{reviewCtrl.review.stars}} Stars</b>
			{{reviewCtrl.review.body}}<br />
			<cite>- {{reviewCtrl.review.author}}</cite>
		</blockquote>
		<h5>Submit a Review</h5>
		<div class="form-group">
			<select class="form-control" ng-model="reviewCtrl.review.stars" required>
				<option value="" disabled selected>Rate the Product</option>
				<option value="1">1 star</option>
				<option value="2">2 star</option>
				<option value="3">3 star</option>
				<option value="4">4 star</option>
				<option value="5">5 star</option>
			</select>
		</div>
		<div class="form-group">
			<textarea class="form-control" ng-model="reviewCtrl.review.body" placeholder="Write a short review of the product..." required></textarea>
		</div>
		<div class="form-group">
			<input class="form-control" ng-model="reviewCtrl.review.author" type="email" placeholder="email@example.com" required>
		</div>
		<div class="form-group clearfix">
			<button type="submit" class="btn btn-default pull-right">Submit Review</button>
		</div>
	</form>
</div>